---
---
<div class="bg-gray-100 text-center py-8">
    <div class="bg-green-200 text-gray-800 py-6 px-4 rounded-lg max-w-lg mx-auto">
      <p class="font-medium">
        Nuestra felicidad solo está completa cuando la compartimos con las personas a las que amamos.
      </p>
      <p class="italic mt-2 text-lg font-semibold">
        ¡Te esperamos!
      </p>
    </div>
    <div class="mt-6">
      <p class="text-lg font-bold">Y & J</p>
      <p class="text-gray-700">Nuestra Boda</p>
    </div>
  </div>
  