---
export interface Props {
  momentos: string[];
}
const { momentos = ['Foto de los novios', 'Corte del pastel'] } = Astro.props;
---

<section class="momentos">
  <h2>Momentos Especiales</h2>
  <ul>
    {momentos.map(momento => <li>{momento}</li>)}
  </ul>
</section>
