---
// src/layouts/BaseLayout.astro

import Backround from "../components/Backround.astro"
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Proyecto Astro</title>
    <!-- Puedes agregar aquí más meta tags o enlaces a estilos globales -->
  </head>
  <body>
    <Backround />
    <main>
      <slot />
    </main>
  </body>
</html>
